apiVersion: v1 
kind: Service 
metadata:
  name: nginx
spec:
  type: LoadBalancer
  selector:
    name: frontend
    purpose: helm
  ports:
  - protocol: TCP
    port: 80
    targetPort: {{ .Values.service.targetport }}
    nodePort: {{ .Values.service.nodeport }}